body {
    padding: 20px;
    margin: 0;
}

ul.header {
    list-style: none;
    background-color: darkorange;
    padding: 0;
    margin: 0;
    z-index: 1;
}

ul.header li {
    display: inline-block;
    position: relative;
}

ul.header li a {
    display: block;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    white-space: nowrap;
}

ul li a:hover {
    background: darkgrey;
}

li ul {
    display: none;
}

li p{
    padding-left: 10px;
}

li:hover ul {
    display: block;
    position: absolute;
    z-index: 10;
}

li:hover li {
    font-size: 12px;
    width:150px;
    max-width:150px;
}

li:hover a{
    background: darkorange;
}

li:hover li a:hover {
    background: darkgrey;
}

.dropdown ul{
    display: none;
}

.dropdown:hover ul {
    display:block;
}

.content {
    padding: 20px;
    overflow-y: scroll;
}

.form-control{
    width:20%;
}

form{
    padding-top:30px;
}

#delete_playlist{
    margin-top: 50px;
}

#delete_song{
    margin-top: 50px;
}

ul.playlists{
    list-style: none;
}

ul.songs{
    list-style: none;
}

ul.playlists li{
    padding:5px;
    margin:5px 0px 5px 0px;
    border-style: groove;
}

ul.songs li{
    padding:5px 0px 5px 0px;
    margin:5px 0px 5px 0px;
    border-style: groove;
}

#add_song_btn{
    margin-top:10px;
}